* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: radial-gradient(skyblue, darkblue);
  overflow: hidden;
}

#sprite-image {
  height: 325px;
  width: 184px;
  background: url("sprite.png") 0px 0px;
}
