* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(rebeccapurple, skyblue);
  overflow: hidden;
}

button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 160px;
  padding: 16px;
  cursor: pointer;
  z-index: 1;
}
